# dependencies
node_modules/
.npm-cache/

# next.js
.next/
out/

# environment
.env
.env.local
.env.*.local

# database
*.db

# data store
data.json

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# os
.DS_Store
Thumbs.db

# ide
.idea/
.vscode/
*.swp
*.swo

# typescript
*.tsbuildinfo
next-env.d.ts
